<article class="post">
    <header>
        <a href="{{ include.post.url | prepend: site.baseurl }}">
            <h1 class="post-title">{{ include.post.title }}</h1>
        </a>
        <time datetime="{{ include.post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%-d de %-m de %Y" }}
        {% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Enero
  {% when '2' %}Febrero
  {% when '3' %}Marzo
  {% when '4' %}Abril
  {% when '5' %}Mayo
  {% when '6' %}Junio
  {% when '7' %}Julio
  {% when '8' %}Agosto
  {% when '9' %}Septiembre
  {% when '10' %}Octubre
  {% when '11' %}Noviembre
  {% when '12' %}Diciembre
{% endcase %}
{{ page.date | date: "%Y" }}
    </header>
    <div class="post-body">
        {% if include.post.location %}<a href="https://www.google.com/maps/search/{{ include.post.location }}" target="_blank" class="post-body-location">{{ include.post.location }}</a><span class="post-body-location-divider">—</span>{% endif %}{{ include.content }}
    </div>
    <footer class="post-footer">
        {% if include.post.location %}<a href="https://www.google.com/maps/search/{{ include.post.location }}" target="_blank" class="post-footer-location">{{ include.post.location }}</a>{% endif %}
    </footer>
</article>
